doctype html

html
  head
    meta(charset='UTF-8')
    title GraphDevQL
    style.
      body {min-width: 300px}

  body
    p
      b Browse graphql requests.
      br
      #description Open the developer tools, and go to GraphDevQl tab.
